# dependencies
node_modules/
.pnpm-store/

# builds
.next/
dist/
build/
coverage/
tsconfig.tsbuildinfo

# env
.env
.env.*
!.env.example

# local tooling
.superpowers/
.DS_Store
Thumbs.db

# local data store
.data/

# prisma local sqlite db artifacts
/prisma/dev.db
/prisma/dev.db-journal
/prisma/migrations/dev/
.vercel
